.navbar{
    display:flex;
    justify-content: center;

    .container{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        .logo{
            font-size: 34px;
            font-weight: bold;

            .text{}
        }
        .profile{
            .img{}
        }
    }
}
